[mysqld]
host-cache-size                = 0
skip-name-resolve
user                           = mysql
symbolic-links                 = 0
server-id                      = 223344
log_bin                        = mysql-bin
binlog_format                  = row
gtid_mode                      = on
enforce_gtid_consistency       = on
authentication_policy          = caching_sha2_password
caching_sha2_password_auto_generate_rsa_keys = on
binlog_expire_logs_seconds     = 259200
