activemq-data/
.idea/
*.iml
*.ipr
*.iws
.metadata/
.recommenders/
.classpath
.project
.cache
.settings/
.factorypath
.checkstyle
.gradle/
.vscode/
build/
debezium-ddl-parser/gen
deploy/
target/
mods/
*.swp
epom
log
npm-debug.log
.DS_Store
phantomjsdriver.log

generated-sources/

/state/
bin/
gen/
*.tokens

jenkins-jobs/docker/rhel_kafka/plugins
jenkins-jobs/docker/artifact-server/plugins
