name: Build Debezium (PR)

on:
  pull_request:
    types: [synchronize]
    branches:
      - main
      - 1.*
      - 2.*
      - 3.*
      - 4.*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  sink_connector_replicaset_it:
    name: MongoDB SinkConnectorReplicaSetIT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build all projects
        run: >
          ./mvnw -B -ntp clean install
          -DskipTests=true
          -DskipITs=true
          -DfailFlakyTests=false
          -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

      - name: Run SinkConnectorReplicaSetIT only
        run: >
          ./mvnw -B -ntp test
          -pl debezium-connector-mongodb
          -Dtest=SinkConnectorReplicaSetIT
          -DskipITs=false
          -DisAssemblyProfileActive=true
          -Dversion.mongo.server=8.0
          -DfailFlakyTests=false
          -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
