name: Release Contributors Workflow

on:
  workflow_dispatch:
    inputs:
      tag1:
        description: 'From Release Tag'
        required: true
      tag2:
        description: 'To Release Tag'
        required: true

jobs:
  script:
    runs-on: ubuntu-latest

    steps:
      - name: Run script
        run: |
          chomd +x ./github-support/list-contributors.sh ${{ github.event.inputs.tag1 }} ${{ github.event.inputs.tag2 }}